*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.maincontainer{
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.maincontainer article .img1{
   width: 20px;
   height:40px;
}
/* fetch data */
.home{
    margin:0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: space-around;
    margin-top: 160px;
    /* padding-top:80px; */
  }